@font-face {
  font-family: 'iconfont';  /* Project id 2867381 */
  src: url('//at.alicdn.com/t/font_2867381_tlw7ug2aox.woff2?t=1634974522138') format('woff2'),
       url('//at.alicdn.com/t/font_2867381_tlw7ug2aox.woff?t=1634974522138') format('woff'),
       url('//at.alicdn.com/t/font_2867381_tlw7ug2aox.ttf?t=1634974522138') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

